@page "/"

<PageTitle>Home</PageTitle>

<h1>FullScreen Control test</h1>

<p>
    This App is intended to test / demo integrating a <i>custom HTML element</i> that is a control to 
    enter and exit the browser to / from full screen mode in a <i>Blazor</i> context.
</p>