@page "/ssr"

@attribute [StreamRendering]

<PageTitle>SSR</PageTitle>

<h1>Server Side Rendering</h1>

<button id="fs-control-1" is="fullscreen-control" data-enter-html="ENTER">ssr-test 1</button>

<button id="fs-control-2" is="fullscreen-control" data-enter-html="enter" data-exit-html="exit">ssr-test 2</button>


@code {
    private string _enterText1 = "ENTER";
    private string _exitText1 = "EXIT";
    private string _enterText2 = "enter";
    private string _exitText2 = "exit";
}