@page "/ssr"

@attribute [StreamRendering]

<PageTitle>SSR</PageTitle>

<h1>Server Side Rendering</h1>

<button is="fullscreen-control">ssr-test</button>

<button is="fullscreen-control" enterText="en" exitText="ex" >wasm-test</button>

@code {

}