@page "/ssr"

@attribute [StreamRendering]

<PageTitle>SSR</PageTitle>

<h1>Server Side Rendering</h1>

<button is="fullscreen-control" data-enter-html="ENTER">ssr-test 1</button>

<button is="fullscreen-control" data-enter-html="enter" data-exit-html="exit">ssr-test 2</button>


@code {

}