@page "/wasm"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>WASM</PageTitle>

<h1>Web Assembly</h1>

<button id="fs-control-1" is="fullscreen-control" data-enter-html="ENTER">wasm-test 1</button>

<button id="fs-control-2" is="fullscreen-control" data-enter-html="enter" data-exit-html="exit">wasm-test 2</button>

@code {

}